#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.project-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1800px;
}

.project-card {
  background-color: transparent;
  min-width: 300px;
  max-width: 400px;
  aspect-ratio: 1;
  flex-grow: 1;
}

.project-card-image {
  max-width: 100%;
}

.project-card-description {
  margin: auto 1rem;
}

/* This container is needed to position the front and back side */
.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

/* Use touchstart on mobile */
.project-card-flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.project-card-front, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.project-card-back {
  background-color: lightgray;
  color: darkslategray;
  transform: rotateY(180deg);
}