#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* For mobile phones: */
[class*="grid--"] {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

/* For tablets: */
@media only screen and (min-width: 660px) {
  .grid--s { grid-template-columns: repeat(2, 1fr); }
  .product-details__column { flex: 50%; }
}

/* For desktop: */
@media only screen and (min-width: 990px) {
  .grid--m { grid-template-columns: repeat(3, 1fr); }
}

/* For desktop: */
@media only screen and (min-width: 1320px) {
  .grid--l { grid-template-columns: repeat(4, 1fr); }
}

.project-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
}

/* This container is needed to position the front and back side */
.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.project-card-front, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.project-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.project-card-back {
  padding: 0 10px;
  background-color: lightgray;
  color: darkslategray;
  transform: rotateY(180deg);
}